<body bgcolor="#fae9bd">
    <h3 style="margin-top:20px ;">Kerufood Sejarah</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia reprehenderit dolor 
        voluptates, labore quae ratione alias et quo quod ea officiis animi earum aperiam fugit nulla saepe. Sed, dolorem quis.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque nostrum placeat, esse ratione velit quia nobis error accusantium
     dolores, ipsam pariatur quas ducimus atque amet blanditiis modi adipisci rerum nesciunt.</p>
</body>