<body bgcolor="#fae9bd">
    <fieldset>
        <legend>Alamat</legend>
        <p>
           Jalan Anggrek Pangkajene, <br>
            Makassar Sulsel, <br>
            Indonesia
        </p>
    </fieldset>
    <fieldset>
        <legend>Buka Mulai</legend>
        <table align="center" border="1" cellpadding="1" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td>Senin - Minggu</td>
                    <td>24 Hours</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</body>