<frameset rows="15%, 45%, 32%, 8%" frameborder="no">

    <frameset cols="15%, *">
        <frame src="logo.html" scrolling="no" />
        <frame src="headerRight.html" noresize="yes" />
    </frameset>

    <frameset>
        <frame src="isiKonten.html" scrolling="yes" name="main" />
        <frame src="menu.html" scrolling="yes" name="main" />
    </frameset>

    <frameset cols="33%, 33%, 33%">
        <frame src="konten01.html" scrolling="no" noresize="yes" />
        <frame src="konten02.html" scrolling="no" noresize="yes" />
        <frame src="konten03.html" scrolling="no" noresize="yes" />
    </frameset>

    <frameset>
        <frame src="footer.html" />
    </frameset>

</frameset>