/* Main Structure */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

/* Style the header */
.header {
  background-image: url('assets/banner2.png');
  background-size: cover;
  width: 100%;
  padding: 100px;
  text-align: center;
  color: #fdfdfd;
}

.row {
  text-align: center;
}

.container {
  padding: 10px;
  background-color: #235e6e;
}

.konten {
  margin-top: 100px;

}

.header p {
  margin: auto;
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  margin: auto;
  text-align: center;
}

/* Style the topnav links */
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 5px 5px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 35%;
  text-align: left;
}

.tag-Line {
  background-color: #02c5c1;
  padding: 10px;
  color: white;
  margin-right: 10px;
}

.column.side2 {
  width: 25%;
}

.column2 {
  width: 30%;
  display: inline-block;
}


.more:hover {
  background-color: gray;
  color: white;
}

.more {
  background-color: #02c5c1;
  padding: 10px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;

}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column.side,
  .column.middle {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  background-color: #333333;
  color: white;
  padding: 10px;
  text-align: center;
}